<!DOCTYPE html>
<html>
  <head>
    <title>Bizquik</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/styles/unique.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <form class="uniqueness-form" action="/unique" method="post" role="form">
        Username:<br>
        <input type="text" name="username" id="usernamebox"><br>
        <button type="button" id="submit-button">Submit</button>
    </form>

    <script>
        $(function(){

            $('#submit-button').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/unique',
                    contentType: 'application/json',
                    data: JSON.stringify({'username': $('input[name="username"]').val()}),
                    success: function(response) {
                        var result = response.status;

                        if (result === "OK") {
                            $("#usernamebox").css("border", "1px solid green");
                        } else {
                            $("#usernamebox").css("border", "1px solid red");
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

                console.log("Hello?");
            });
        });
    </script>

  </body>
</html>
