<!DOCTYPE html>
<html>
  <head>
    <title>Bizquik</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/styles/unique.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <form class="uniqueness-form" action="/unique" method="post" role="form">
        Username:<br>
        <input type="text" name="username" id="usernamebox">
        <i id="icon" class="fas fa-times-circle" title="Username taken" style="visibility:hidden;color:red"></i>
        <br><button type="button" id="submit-button">Submit</button>
    </form>

    <script>
        $(function(){

            $('#submit-button').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/unique',
                    contentType: 'application/json',
                    data: JSON.stringify({'username': $('input[name="username"]').val()}),
                    success: function(response) {
                        var result = response.status;

                        if (result === "OK") {
                            $("#icon").css("visibility", "hidden");
                        } else {
                            $("#icon").css("visibility", "visible");
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

  </body>
</html>
